# Code owners for this repository.
# These users are requested for review automatically on pull requests.
# Docs: https://docs.github.com/articles/about-code-owners

# Default owner for everything in the repo
* @louislhotte
